.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    padding: 1.5em;
}

.app-header .logo {
    display: flex;
    gap: .25rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.app-header .logo img {
    width: .75em;
}

.main-nav {
    display: flex;
    gap: .75em;
}

.main-nav a.active {
    border-bottom: 2px solid orangered;
}