* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    padding: .75em 1em;
    border: .05rem solid orangered;
    color: orangered;
    font-weight: 500;
    border-radius: 2em;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
    color: antiquewhite;
}

input,
select {
    padding: .75em 1em;
    border: .05rem solid orangered;
    color: orangered;
    font-weight: 500;
    border-radius: 2em;
    outline: none;
}

input::placeholder {
    color: orangered;
}